* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
}
:root{
  --primary-color: rgb(20, 146, 219);
}
.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
}
.title > p {
  font-size: 1.5em;
  color: #777;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  width: 100%;
  min-width: 300px;
  padding: 10px;
  margin: 10px 0;
  color:black;
  border: 1px solid #777;
  border-radius: 10px;
}
.text{
  color:black;
}
/* Feebacks */
.container {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
}
.feedback {
  padding: 10px;
  margin: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.feedback > h1 {
  font-size: 1.5em;
  color: rgb(20, 146, 219);
  margin-bottom: 3px;
}

.feedback > p {
  font-size: 1em;
  color: #777;
}
/* Observer */
.observer{
  width: 100%;
  height: 100px;
  background-color: rebeccapurple;
}